#include <windows.h>
#include "resource.h"

IDI_ICON ICON "KsScript.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        // English (US), Unicode (UTF-16)
        BLOCK "040904b0"
		BEGIN
			VALUE "CompanyName", "KsScript"
			VALUE "FileDescription", "KsScript"
			VALUE "FileVersion", "1.0.0.0"
			VALUE "InternalName", "KsScript.exe"
			VALUE "LegalCopyright", "Copyright (C) 2026"
			VALUE "OriginalFilename", "KsScript.exe"
			VALUE "ProductName", "KsScript"
			VALUE "ProductVersion", "1.0.0.0"
		END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END